/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .rap-board-list li { width: 100px; }
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .site-logo h1 { font-size: 45px; }
    .rap-board-list li { margin: 25px 0 25px 45px; width: 108px; }
    ul.rap-board-list { margin-left: -45px; }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	.site-logo h1 { font-size: 22px; }
	.site-logo.image { max-width: 200px; }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.site-logo h1 { font-size: 30px; }
}